###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

# Ignore files for language bar
*.yy linguist-vendored
*.nsi linguist-vendored